* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.main-btn {
  padding: 1rem 3rem;
  border: 1px solid white;
  margin-top: 3rem;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0.5rem;
}
.navbar .nav-item .nav-link {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

#navbarIcon {
  width: 70px;
  margin-right: 5rem;
}

.dark-span {
  color: #b9b9b9;
}

.falcon-second-page-foreground-3, .hsf-more-info {
  width: 100%;
  height: 85vh;
  background-color: black;
  color: white;
  display: flex;
  place-content: center;
  place-items: center;
  text-align: center;
}
.falcon-second-page-foreground-3 .container p, .hsf-more-info .container p {
  font-size: 16px;
}
.falcon-second-page-foreground-3 a, .hsf-more-info a {
  text-decoration: none;
  color: grey;
}
.falcon-second-page-foreground-3 a:hover, .hsf-more-info a:hover {
  color: #b9b9b9;
}

.footer {
  background-color: black;
  color: white;
  height: 15vh;
  display: flex;
  place-content: center;
  place-items: center;
}
.footer a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 12px;
}
.footer a:hover {
  color: #b9b9b9;
}
.footer a:first-child {
  color: grey;
}

.short-title {
  width: 550px;
}

.long-title {
  width: 650px;
}

.second-page-foreground, .third-page-foreground, .fourth-page-foreground {
  padding-top: 12rem;
}

#heroSection {
  background: url(../../img/home/01.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  color: white;
}

.foreground {
  margin: auto;
  text-align: left;
  width: 1300px;
  padding: 10rem 1rem;
}

.arrow-down {
  width: 100px;
  display: block;
  margin: 2rem auto;
}

#secondSection {
  background: url(../../img/home/03.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  color: white;
}

#thirdSection {
  background: url(../../img/home/02.gif);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  color: white;
}

#fourthSection {
  background: url(../../img/home/04.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  color: white;
}

@media screen and (max-width: 768px) {
  .foreground {
    padding: 5rem 1rem;
    width: 100%;
  }
  .short-title, .long-title {
    width: 100%;
  }
  .fourth-page-foreground, .second-page-foreground {
    padding-top: 8rem;
  }
  .third-page-foreground {
    padding-top: 10rem;
  }
}
#falconHeroSection {
  background: url(../../img/falcon9/01.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  color: white;
}

.falcon-foreground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
}
.falcon-foreground h1 {
  font-size: 90px;
  font-family: "Rubik";
}

#falconSecondSection {
  padding: 0;
  overflow: hidden;
}

.number {
  background-color: black;
  color: white;
  padding: 7rem 0;
}
.number h1 {
  font-size: 90px;
}
.number p {
  font-size: 20px;
}

.falcon-second-page-foreground {
  background: url(../../img/falcon9/02.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  color: white;
  padding: 0;
}
.falcon-second-page-foreground .container {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
}
.falcon-second-page-foreground .container p {
  width: 650px;
  font-size: 22px;
  line-height: 3rem;
}

#falconFirstCarousel {
  background-color: black;
  width: 100%;
  height: 100vh;
  color: white;
}
#falconFirstCarousel .carousel-inner {
  height: 100vh;
}
#falconFirstCarousel .carousel-inner .carousel-item {
  height: 100vh;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
#falconFirstCarousel .carousel-inner .carousel-item .container {
  padding-top: 15%;
  margin-left: 13%;
  width: 500px;
}

#carousel1Slide1 {
  background: url("../../img/falcon9/03.jpg");
}

#carousel1Slide2 {
  background: url("../../img/falcon9/04.jpg");
}

#carousel1Slide3 {
  background: url("../../img/falcon9/05.jpg");
}

#carousel1Slide4 {
  background: url("../../img/falcon9/06.jpg");
}

#carousel1Slide5 {
  background: url("../../img/falcon9/07.jpg");
}

.table {
  color: white;
}

.falcon-second-page-foreground-2 {
  background: url(../../img/falcon9/08.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  color: white;
}
.falcon-second-page-foreground-2 .container {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}
.falcon-second-page-foreground-2 .container p {
  font-size: 16px;
}

#carousel2Slide1 {
  background: url("../../img/falcon9/09.jpg");
}

#carousel2Slide2 {
  background: url("../../img/falcon9/10.jpg");
}

#carousel2Slide3 {
  background: url("../../img/falcon9/11.jpg");
}

#carousel2Slide4 {
  background: url("../../img/falcon9/12.jpg");
}

#carousel2Slide5 {
  background: url("../../img/falcon9/13.jpg");
}

#carousel2Slide6 {
  background: url("../../img/falcon9/14.jpg");
}

#carouselExampleCaptions {
  background-color: black;
  width: 100%;
  height: 100vh;
  color: white;
}
#carouselExampleCaptions .carousel-inner {
  height: 100vh;
}
#carouselExampleCaptions .carousel-inner .carousel-item {
  height: 100vh;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.carousel-text {
  background-color: black;
  width: fit-content;
  padding: 0.2rem 1.2rem;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .falcon-second-page-foreground .container p {
    font-size: 18px;
    width: 80vw;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 630px) {
  .falcon-foreground {
    min-height: 40vh;
  }
  .falcon-foreground h1 {
    font-size: 17vw;
  }
  .falcon-foreground h5 {
    font-size: 4vw;
    line-height: 8vw;
  }
  #falconFirstCarousel .carousel-inner .carousel-item .container {
    margin-top: 8rem;
    margin-left: 0.5rem;
    width: 90vw;
  }
  .falcon-second-page-foreground-2 .container {
    width: 80vw;
    margin-left: 0;
    padding-top: 8rem;
  }
  .falcon-second-page-foreground-2 .container p {
    font-size: 16px;
  }
}
@media screen and (max-width: 556px) {
  .number {
    padding: 1rem 0;
    padding-bottom: 1rem;
  }
  .number h1 {
    font-size: 50px;
  }
  .number p {
    font-size: 16px;
  }
}
@media screen and (max-width: 360px) {
  .falcon-second-page-foreground .container p {
    font-size: 16px;
  }
  .falcon-second-page-foreground-3 .btn {
    width: 80vw;
    padding: 0.8rem 0.3rem;
    margin: 0.8rem auto;
  }
}
#HSFHeroSection {
  background: url(../../img/humanFlight/01.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  color: white;
}

#hsf-navbar-text1, #hsf-navbar-text2 {
  color: black;
  font-weight: 700;
}
#hsf-navbar-text1:hover, #hsf-navbar-text2:hover {
  color: rgb(94, 92, 92);
}

.hsf-hero-foreground {
  text-align: center;
  padding-top: 10%;
}
.hsf-hero-foreground h1 {
  font-size: 120px;
  font-weight: 600;
  padding-bottom: 2rem;
}
.hsf-hero-foreground h4 {
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 2rem;
}

#HSFMoreInfoSection {
  padding: 0;
  overflow: hidden;
}

#HSFMissionsSection {
  background-color: black;
  padding: 0;
  overflow: hidden;
}

.contact-container {
  height: 300px;
  background-color: black;
  color: #d8d8d8;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  padding-top: 5rem;
}
.contact-container p {
  width: 70%;
  margin: auto;
}

#contactContainerEmail {
  color: white;
  font-weight: 600;
}

#contactContainerEmailLink {
  text-decoration: none;
}

#contactContainerEmail:hover {
  color: #d8d8d8;
}

.earth-container {
  background: url(../../img/humanFlight/02.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  color: white;
  padding: 0;
}
.earth-container .container {
  margin-left: 55%;
  padding-top: 14%;
  padding-bottom: 10rem;
}
.earth-container .container h5, .earth-container .container p {
  font-weight: 100;
}
.earth-container .container h2 {
  font-size: 60px;
  font-weight: 700;
}
.earth-container .container .btn {
  margin-top: 1rem;
}

.spacestation-container {
  background: url(../../img/humanFlight/03.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  color: white;
  padding: 0;
}
.spacestation-container .container {
  margin-left: 5%;
  padding-top: 14%;
}
.spacestation-container .container h5 {
  font-weight: 100;
}
.spacestation-container .container h2 {
  font-size: 60px;
  font-weight: 700;
}
.spacestation-container .container p {
  font-weight: 100;
  margin-bottom: 0;
}
.spacestation-container .container .btn {
  margin-top: 1rem;
}

.moon-container {
  background: url(../../img/humanFlight/04.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  color: white;
  padding: 0;
}
.moon-container .container {
  margin-left: 55%;
  padding-top: 14%;
}
.moon-container .container h5, .moon-container .container p {
  font-weight: 100;
}
.moon-container .container h2 {
  font-size: 60px;
  font-weight: 700;
}
.moon-container .container .btn {
  margin-top: 1rem;
}

.mars-container {
  background: url(../../img/humanFlight/05.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  color: white;
  padding: 0;
}
.mars-container .container {
  margin-left: 5%;
  padding-top: 14%;
}
.mars-container .container h5 {
  font-weight: 100;
}
.mars-container .container h2 {
  font-size: 60px;
  font-weight: 700;
}
.mars-container .container p {
  font-weight: 100;
  margin-bottom: 0;
}
.mars-container .container .btn {
  margin-top: 1rem;
}

@media screen and (max-width: 1210px) {
  .earth-container, .moon-container {
    padding: 0;
  }
  .earth-container .container, .moon-container .container {
    margin-left: 50vw;
    padding-top: 19%;
    width: 48%;
  }
}
@media screen and (max-width: 930px) {
  .hsf-hero-foreground h1 {
    font-size: 13vw;
    padding-bottom: 2rem;
    padding-top: 6vh;
  }
  .hsf-hero-foreground h4 {
    font-size: 28px;
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 645px) {
  .contact-container {
    padding-bottom: 10rem;
  }
  .contact-container p {
    font-size: 18px;
    width: 95%;
  }
  .spacestation-container .container, .mars-container .container {
    width: 90%;
  }
  .earth-container .container, .moon-container .container {
    margin: auto;
    width: 90%;
  }
  .earth-container .container h2, .moon-container .container h2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 350px) {
  .spacestation-container .container h2, .mars-container .container h2 {
    font-size: 50px;
  }
}

/*# sourceMappingURL=index.css.map */
